<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add to do item:</h1>
    <form method="POST" action="add">
        <!-- important - to be added in the forms {% csrf_token %}-->
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Add Item</button>
    </form>
    
</body>
</html>