<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To do list:</h1>
    <ul>
        {% for item in items %}
            
            {% if item.done %}

                <li><strike>{{item.name}}</strike></li> 

            {% else %}

                <li>{{item.name}}</li>

            {% endif %}
                <a href="/toggle/{{ item.id }}">
                    <button>Toggle</button>
                </a>

                <a href="/edit/{{ item.id }}">
                    <button>Edit</button>
                </a>
                <a href="/delete/{{ item.id }}">
                    <button>Delete</button>
                </a>

        {% empty %}
            <li>You have nothing to do</li>
        {% endfor %}

    </ul>
    <a href="/add">Add Item</a>
</body>
</html>