
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <h1>To do list:</h1>

    
    <ul>
        {% for item in items %}
            
            {% if item.done %}

                <li><strike>{{item.name}}</strike>

            {% else %}

                <li class="mt-3">{{item.name}}

            {% endif %}
                <a href="/toggle/{{ item.id }}" class="btn btn-outline-secondary m-3" >
                    Toggle
                </a>

                <a href="/edit/{{ item.id }}" class="btn btn-outline-info m-3">
                    Edit
                </a>
                <a href="/delete/{{ item.id }}" class="btn btn-outline-danger m-3">
                    Delete
                </a>
            </li>

        {% empty %}
            <li>You have nothing to do</li>
        {% endfor %}

    </ul>
    <a href="/add">Add Item</a>

</div>

    {% endblock %}
