
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 bg-dark">

    <h1>To do list:</h1>

    
    <div class="accordion accordion-flush" id="to-do-list">
        {% for item in items %}
        <div class="accordion-item">
            <!-- accordeaon header -->
            {% if item.done %}

            <h2 class="accordion-header font-neon" id="heading-{{item.id}}">

                <button class="accordion-button collapsed bg-secondary border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#item-id-{{item.id}}" aria-expanded="true" aria-controls="collapseOne">
                    <strike>{{item.name}}</strike>
                </button>
            </h2>

            {% else %}
            <h2 class="accordion-header" id="heading-{{item.id}}">

                <button class="accordion-button collapsed bg-secondary border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#item-id-{{item.id}}" aria-expanded="true" aria-controls="collapseOne">
                    {{item.name}}
                </button>
            </h2>

            {% endif %}

            <!-- accordeon body -->
            <div id="item-id-{{item.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{item.id}}" data-bs-parent="#to-do-list">
                <div class="accordion-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="/toggle/{{ item.id }}" class="btn btn-outline-secondary m-3" >
                                Toggle
                            </a>
                        </div>
                        <div class="col">
                            <a href="/edit/{{ item.id }}" class="btn btn-outline-info m-3">
                                Edit
                            </a>
                        </div>
                        <div class="col">
                            <a href="/delete/{{ item.id }}" class="btn btn-outline-danger m-3">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% empty %}

            <div class="accordion-item">You have nothing to do</div>


        {% endfor %}

    </div>
    <a class="btn btn-outline-info mt-5" href="/add">Add Item</a>

</div>

    {% endblock %}
